@import url("https://fonts.googleapis.com/css?family=Quicksand|Poppins|Ubuntu&display=swap");

:root {
  /* ===== Colors ===== */
  --primary-color: #79e381;
  --primary-color-light: #c3c3c3;
  --text-color: #fff;
  --large-font-size: 3rem;
  --medium-font-size: 1.5rem;
  --small-font-size: 1rem;
  --background-color: #0f0f14;
  --font-family: "Quicksand", sans-serif;

  /* ====== Spacing ====== */
  --section-margin: 5rem;
  --mb-1: 0.25rem;
  --mb-2: 0.5rem;
  --mb-3: 1rem;
  --mb-4: 1.5rem;
  --mb-5: 3rem;

  /* ====== Transition ====== */
  --transition: all 0.3s linear;
  --transition-delay: all 0.3s linear 0.2s;
  --transition-delay-2: all 0.3s linear 0.4s;
  --transition-delay-3: all 0.3s linear 0.6s;
  --transition-delay-4: all 0.3s linear 0.8s;
  --transition-delay-5: all 0.3s linear 1s;
}

/* Media query for reduced motion */
@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

/* Media queries for desktop devices */
@media screen and (min-width: 1024px) {
  .skill__data {
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1rem;
  }

  .skill__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10px;
  }

  .skills__circle {
    margin-top: 5px;
  }
}

/* Media queries for tablet devices */
@media (min-width: 850px) {
  .menu-bar {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1.2s;
  }

  .skill__data {
    text-align: left;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 2rem;
  }

  .skill__icon {
    margin: 0;
    padding: 0;
    font-size: 2.75rem;
    align-content: center;
    vertical-align: middle;
    color: var(--primary-color);
  }
}

/* Media queries for mobile devices */
@media (max-width: 850px) {
  .menu-bar {
    opacity: 0;
    filter: blur(20px);
    transform: translateX(-100%);
    transition: all 1.2s;
  }

  .skill__icon {
    margin: 0;
    padding: 0;
    font-size: 2rem;
    align-content: center;
    vertical-align: middle;
    color: var(--primary-color);
  }
}

/* Media queries for header fixed or relative behaviour */
@media screen and (min-width: 1500px) {
  header {
    width: 100%;
    padding: 4vh 3vh;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: fixed;
  }
}

@media screen and (max-width: 1500px) {
  header {
    width: 100%;
    padding: 4vh 3vh;
    align-items: center;
    justify-content: center;
    z-index: 5;
    position: relative;
  }
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: var(--small-font-size);
  line-height: 1.6;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

/* Header Styling */

/* Profile Styling */
.profile {
  display: flex;
  align-items: center;
}

.profile__image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.profile__image:hover {
  transform: scale(1.2);
  transition: all 0.2s linear;
}

.profile__details {
  display: flex;
  flex-direction: column;
}

.profile__name {
  font-weight: bold;
  color: var(--primary-color);
}

.profile__description {
  font-size: 0.9rem;
  color: #bdc3c7;
}

/* Navigation Menu Styling */
.menu-bar {
  width: 100%;
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 5;
  top: 0;
}

.menu__links {
  list-style: none;
  display: flex;
}

.menu__item {
  margin-right: var(--mb-4);
  margin-left: var(--mb-4);
}

.menu__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.menu__icon {
  margin-right: 5px;
  font-size: 2rem;
  color: var(--primary-color);
}

/* Hover Effects */
.menu__link:hover {
  color: var(--primary-color);
}

section {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 150px;
  align-content: center;
  min-height: 60vh;
}

.hidden {
  opacity: 0;
  filter: blur(20px);
  transform: translateX(-100%);
  transition: all 1.2s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.social__container {
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: var(--mb-3);
  gap: 5rem;
}

.social__item {
  display: flex;
  align-items: center;
}

.social__link {
  display: inline-flex;
  align-items: center;
  padding-top: 10px;
  font-size: var(--small-font-size);
  color: var(--text-color);
  text-decoration: none;
}

.social__link:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.social__icon {
  font-size: 2.75rem;
  padding-right: 0.5rem;
}

.section__icon {
  font-size: 3.5rem;
  color: var(--primary-color);
}

.section-title {
  margin-bottom: 2rem;
}

.experience__title:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.intro {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #0f0f14;
  transition: 1s;
}

.logo__header {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--primary-color);
}

.logoSplash {
  position: relative;
  display: inline-block;
  bottom: -20px;
  opacity: 0;
  font-family: "Ubuntu", sans-serif;
}

.logoSplash.active {
  bottom: 0;
  opacity: 1;
  transition: ease-in-out 0.5s;
}

.logoSplash.fade {
  bottom: 150px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
}

a:hover {
  color: var(--primary-color);
  transform: translateY(-5px);
  transition: all 0.2s ease;
}
/* selected link */
a:active {
  color: skyblue;
}

.name-header {
  text-align: Left;
  font-size: 3rem;
  line-height: 1;
  font-family: "Ubuntu", sans-serif;
}

.hobbies__container {
  text-align: Left;
  font-family: "Ubuntu", sans-serif;
}

.name-subheader {
  text-align: left;
  width: 70%;
  font-size: 1.5rem;
}

.social__container {
  text-align: Left;
  width: 70%;
}

.course__content {
  text-align: left;
}

.education__content {
  text-align: left;
}

.experience__content {
  text-align: left;
}

.experience__company {
  color: #c3c3c3;
}

.skill__data {
  text-align: left;
  display: grid;
}

.skill__name:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.education__title:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.course__title:hover {
  transform: translateY(-5px);
  transition: all 0.2s ease;
}

.skills__circle {
  justify-content: center;
  align-items: center;
  line-height: 3rem;
  margin-left: 5px;
}

.course__institute {
  color: #c3c3c3;
}

.education__studies {
  color: #c3c3c3;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 20px 0;
  color: white;
  position: relative;
  bottom: 0;
}
